@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Proza+Libre:ital,wght@0,400;1,600&display=swap');

@keyframes button-transition {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes social-link-hover {
   0% {
        width: 7rem;
    }
    40% {
        width: 9rem;
    }
    100% {
        width: 7rem;
    }
}

* {
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*------------------------------ BACKGROUND ------------------------------*/
#background {
    background-image: url(../Images/BW-leaves-background.jpg);
    background-color: #060606;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 150%;
}
/*------------------------------ BUTTON ------------------------------*/
#enter-button {
    margin-top: 1rem;
    transform: scale(0.7);
    border-radius: 50%;
    box-shadow: 5px 8px 8px black;
    border: 2px solid rgb(0, 0, 0);
}

#enter-button .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#enter-button:hover .img-top { 
    display: inline;
    animation: button-transition 0.2s reverse;
}

#enter-button a img {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
/*------------------------------ TITLE/SUBTITLE ------------------------------*/
h1 { 
    color: #e2dedb;
    font-weight: bold;
    font-size: 6rem;
    letter-spacing: 3px;
    text-shadow: 4px 4px 5px black;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #776c68;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 8rem;
    text-align: center;
}
/*------------------------------ SOCIAL LINKS ------------------------------*/
.social-links {
    display: flex;
    width: 800px;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

a .social {
    width: 7rem;
}

.instagram {
    margin-top: 8px;
}

.social:hover {
    animation: social-link-hover 1.5s forwards;
}
/*------------------------------ FOOTER ------------------------------*/
footer {
    font-family: 'Lato', sans-serif;
    margin: 2rem;
    color: grey;
    font-size: 1.25rem;
    font-weight: 300;
}
/*------------------------------ MEDIA QUERIES ------------------------------------*/
@media screen and (max-width: 1100px) {
    #enter-button {
        margin-top: 8rem;
    }
    h1 {
        font-size:4rem;
    }
    a .social {
        width: 6rem;
    }
    #background {
        background-image: url(../Images/BW-leaves-background2.jpg);
        background-size: 150%;
    }
}

@media screen and (max-width: 788px) {
    .social-links {
        width: 500px;
    }
}

@media screen and (max-width: 435px) {
    #enter-button {
        margin-top: 1rem;
    }
    h1 {
        margin-top: 0rem;
        font-size:3rem;
    }
    h2 {
        font-size:1.5rem;
        margin-bottom: 2rem;
    }
    a .social {
        width: 5rem;
    }
    .social-links {
        width: 390px;
    }
    .instagram {
        margin-top: 5px;
    }    
}
