@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: rgb(32, 32, 32);
}

#brand  {
    height: 7vw;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}

nav {
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #d6c8c1;
    text-decoration: none;
    margin: 0 0.7rem;
}

