@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@0;1&family=Proza+Libre:ital,wght@0,400;1,600&display=swap');

@keyframes typing {
    from {
        width: 0;
    }
    to { 
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to { 
        border-color: transparent 
    }
    50% {
    border-color: #9e8679;
    }
}

* {
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
/*------------------------------ BACKGROUND ------------------------------*/
#background {
    background-image: url(../Images/split-background.jpg), url(../Images/split-background-flipped.jpg);
    background-repeat: no-repeat, repeat;
    background-color: #e6e3df;
    background-size: contain;
}
/* ------------------------------- NAV BAR --------------------------------- */
header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: rgb(32, 32, 32);
    box-shadow: 3px 3px 3px rgba(65, 65, 65, 0.504);
}

#brand {
    height: 75px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 3px 3px 3px black;
}

nav {
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #d6c8c1;
    margin: 0 0.7rem;
    text-shadow: 2px 2px 2px black;
}

nav a:nth-child(1) {
    color: #938e8c;
    text-decoration: underline;
    font-size: 1.6rem;
}
/* ------------------------------- TITLE --------------------------------- */
h1 {
    display: block;
    font-size: 2.5rem;
}

.c1 {
    display: flexbox;
}

.c2 {
    display: flexbox;
  }

.c3 {
    display: flexbox;
}

h1 .type {
    margin-top: 3%;
    margin-left: 5%;
    font-family: 'Proza Libre', sans-serif;
    overflow: hidden;
    /* border-right: .05em solid #e2e1e1; */
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 2s steps(50, end) forwards,
      blink-caret .5s step-end infinite;
}

h1 .type2 {
    margin-left: 5%;
    font-family: 'Proza Libre', sans-serif;
    overflow: hidden;
    /* border-right: .05em solid #e2e1e1; */
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1.4s steps(35, end) forwards,
      blink-caret .5s step-end infinite;
    animation-delay: 1.3s;
}

h1 .type3 {
    margin-left: 5%;
    font-family: 'Proza Libre', sans-serif;
    overflow: hidden;
    /* border-right: .05em solid #e2e1e1; */
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1.3s steps(40, end) forwards,
      blink-caret .5s step-end infinite;
    animation-delay: 2.8s;
}
/* ------------------------------- DIVIDERS --------------------------------- */
hr.solid {
    margin: 2%;
    border: 2px solid rgb(199, 196, 196);
    width: 50%; 
}

hr.solid2 {
    margin: 0% 37% 0%;
    border: 2px solid rgb(199, 196, 196);
    width: 26%;
}

hr.solid3 {
    margin: 4% 25% 0%;
    border: 2px dotted rgb(199, 196, 196);
    width: 50%;
}

hr.solid4 {
    margin: -3% 0% 4% 25%;
    border: 2px dotted rgb(199, 196, 196);
    width: 50%;
}
/* ------------------------------- PROFILE PICTURE --------------------------------- */
.profile-picture {
    position: absolute;
    display:inline-block;
    margin-top: 10%;
    right: 8%;
    width: 30%;
    border-radius: 50%;
    border: 8px solid rgb(255, 255, 255);
}
/* ------------------------------- ABOUT ME --------------------------------- */
.introduction p {
    display: flexbox;
    width: 50%;
    margin-left: 5%;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.3rem;
    color: rgb(68, 66, 65);
}

.testimonials h2 {
    display: flexbox;
    width: 50%;
    margin-left: 11%;
    margin-top: 20px;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.7rem;
    color: rgb(43, 42, 42);
}

.testimonials li {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(94, 91, 90);
}

.interests h2 {
    display: flex;
    margin-left: 15%;
    margin-top: 30px;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.7rem;
    color: rgb(43, 42, 42);
}

.interests p {
    display: flex;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.2rem;
    color: rgb(68, 66, 65);
}
/* ------------------------------- PROFESSIONAL TITLE/LINKS --------------------------------- */
#exp-title h1 {
    display: flex;
    justify-content: center;
    font-family: 'Proza Libre', sans-serif;
    font-size: 2rem;
    color: rgb(43, 42, 42);
}

#exp-title .contact-subheading {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-family: 'Proza Libre', sans-serif;
    font-size: 200%;
    text-decoration: underline;
    font-weight: lighter;
    color: rgb(43, 42, 42);
    margin-bottom: 1%;
}

#prof-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#prof-links a {
    display: inline-flex;
    width: 4%;
    margin: 1% 5% 5% 3%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #454242;
}

#prof-links .link-text {
    display: inline-flex;
    margin: 25px 10px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #454242;
}

#contact-details {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

#contact-details p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #454242;
    transform: translateY(15px);
}

#contact-details img {
    width: 3rem;
    margin-right: 10px;
}

#contact-details .email {
    margin-left: 1%;
}
/* ------------------------------- PROFESSIONAL DESCRIPTION --------------------------------- */
main h2 {
    margin: 2.5% 0% 1.5% 5%;
    font-family: 'Proza Libre', sans-serif;
    color: rgb(43, 42, 42);
}

.prof-description p {
    margin: 0% 5% 0% 5%;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.2rem;
    color: rgb(68, 66, 65);
}

.prof-description em {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.2rem;
    color: rgb(68, 66, 65);
}

.quote p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% 5% 5% 5%;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(82, 78, 73);
}
/* ------------------------------- FOOTER --------------------------------- */
footer p {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    font-family: 'Libre Caslon Text', serif;
    color: rgb(103, 101, 100);
}

/* ------------------------------- MEDIA QUERIES --------------------------------- */
@media screen and (max-width: 1670px) {
    .interests p {
        width: 100%;
    }
    .interests h2 {
        justify-content: center;
        margin-left: 0%;
    }
    .profile-picture {
        top: 12%;
    }
}

@media screen and (max-width: 1340px) {
    .interests p {
        width: 90%;
    }
    .testimonials li {
        width: 90%;
    }
    #prof-links a {
        margin-right: 9%
    }
}

@media screen and (max-width: 1101px) {
    .testimonials h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-left: 0%;
        margin-top: 20px;
        font-family: 'Proza Libre', sans-serif;
        font-size: 1.7rem;
        color: rgb(43, 42, 42);
    }
    #prof-links a {
        margin-right: 15%;
        margin-top: 2%;
        width: 10rem;
    }
}

@media screen and (max-width: 769px) {
    #prof-links {
        width: 70%;
        margin: 0 0 5% 20%;
    }
    .profile-picture {
        margin-top: 25%;
        width: 35%;
    }
    #prof-links .link-text {
        display: none;
    }
}

@media screen and (max-width: 704px) {
    .profile-picture {
        margin-top: 35%;
    }
}

@media screen and (max-width: 552px) {
    .profile-picture {
        margin-top: 50%;
    }
}